.company-banner .banner-image {
  height: 70vh;
}
@media (min-width: 576px) {
  .company-banner .banner-image {
    height: 80vh;
  }
}
@media (min-width: 992px) {
  .company-banner .banner-image {
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .company-banner .banner-image.news-banner-image {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
}
.company-banner .banner-image .company {
  padding-bottom: 40px;
}
@media (min-width: 576px) {
  .company-banner .banner-image .company {
    padding-bottom: 150px;
  }
}
@media (min-width: 1024px) {
  .company-banner .banner-image .company {
    padding-bottom: 100px;
  }
}
.company-banner .banner-image .banner-overlay {
  bottom: 40px;
  left: 50px;
}
@media (min-width: 1024px) {
  .company-banner .banner-image .banner-overlay {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .company-banner .banner-image .banner-overlay .menu-section {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .company-banner .banner-image .banner-overlay .menu-section li {
    padding-right: 50px;
  }
}
.company-banner .banner-image .banner-overlay .menu-section li a {
  color: #ffffff;
  font-size: 1rem;
}
@media (min-width: 575px) {
  .company-banner .banner-image .banner-overlay .menu-section li a {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .company-banner .banner-image .banner-overlay .menu-section li a {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .company-banner .banner-image .banner-overlay .menu-section li a {
    font-size: 0.875rem;
  }
}
@media (min-width: 1440px) {
  .company-banner .banner-image .banner-overlay .menu-section li a {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
}
section.hard-work .img-container {
  height: 400px;
}
@media (min-width: 1024px) {
  section.hard-work .img-container {
    height: 100%;
  }
}
section.philosophy .common-slider {
  position: relative;
}
section.philosophy .common-slider .slick-current .image-text {
  transition: 0.5s all ease;
  opacity: 1 !important;
}
section.philosophy .common-slider .slick-slide .image-text {
  transition: 0.5s all ease;
  opacity: 0;
}
section.philosophy .common-slider .image-sizer .image {
  height: 100%;
}
section.philosophy .common-slider .image-sizer .image .image-text {
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
section.philosophy .common-slider .slick-list {
  padding: 0px 0px 0px 0px !important;
}
@media (min-width: 1024px) {
  section.philosophy .common-slider .slick-list {
    padding: 0px 350px 0px 0px !important;
  }
}
section.philosophy .common-slider .slick-prev {
  outline: none;
  font-size: 0px;
  position: absolute;
  top: -217px;
  z-index: 10;
  right: 100px;
  left: unset;
  padding: 20px;
  border: none;
  border-radius: 50%;
}
@media (min-width: 992px) {
  section.philosophy .common-slider .slick-prev {
    top: -160px;
    padding: 25px;
  }
}
@media (min-width: 1024px) {
  section.philosophy .common-slider .slick-prev {
    right: 100px;
  }
}
section.philosophy .common-slider .slick-prev:after {
  content: '';
  position: absolute;
  background-image: url('../images/ic-slider-arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 992px) {
  section.philosophy .common-slider .slick-prev {
    display: block !important;
  }
}
section.philosophy .common-slider .slick-next {
  outline: none;
  font-size: 0px;
  position: absolute;
  top: -217px;
  z-index: 10;
  right: 20px;
  padding: 20px;
  border: none;
  border-radius: 50%;
}
@media (min-width: 992px) {
  section.philosophy .common-slider .slick-next {
    top: -160px;
    padding: 25px;
  }
}
@media (min-width: 1024px) {
  section.philosophy .common-slider .slick-next {
    right: 35px;
  }
}
section.philosophy .common-slider .slick-next:after {
  content: '';
  position: absolute;
  background-image: url('../images/ic-slider-arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 992px) {
  section.philosophy .common-slider .slick-next {
    display: block !important;
  }
}
section.philosophy.awards .image-sizer .contents .logo {
  max-width: 50px;
}
@media (min-width: 576px) {
  section.philosophy.awards .image-sizer .contents .logo {
    max-width: 75px;
  }
}
section.philosophy.awards .image-sizer .contents .sub-contents .contents {
  max-width: 350px;
}
@media (min-width: 576px) {
  section.philosophy.awards .image-sizer .contents .sub-contents .contents {
    max-width: 400px;
  }
}
@media (min-width: 768px) {
  section.philosophy.awards .image-sizer .contents .sub-contents .contents {
    max-width: 300px;
  }
}
section.philosophy.clients .slick-prev {
  right: 60px;
}
section.philosophy.clients .slick-prev:after {
  background-color: #BCBCBC4D;
  border-radius: 50%;
}
section.philosophy.clients .slick-next {
  right: 0px;
  background-color: #BCBCBC4D;
  border-radius: 50%;
}
section.vision-mission .text-wrapper {
  max-width: 450px;
}
section.vision-mission .vision .vision-title {
  left: 135px;
  top: 45px;
}
section.vision-mission .vision-text {
  left: 135px;
  bottom: 45px;
}
section.our-story .content-container {
  margin-left: 35px;
}
@media (min-width: 767px) {
  section.our-story .content-container {
    margin-left: 0px;
  }
}
section.our-story .year-counter {
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  width: 70px;
  top: calc(4% - 35px);
  right: -15px;
}
@media (min-width: 576px) {
  section.our-story .year-counter {
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    right: unset;
  }
}
@media (min-width: 992px) {
  section.our-story .year-counter {
    top: calc(4% - 50px);
    width: 130px;
  }
}
@media (min-width: 1200px) {
  section.our-story .year-counter {
    top: calc(4% - 70px);
  }
}
@media (min-width: 1400px) {
  section.our-story .year-counter {
    width: 140px;
    top: calc(4% - 55px);
  }
}
section.our-story .year-counter.top-sticky-add {
  position: fixed;
  top: 60%;
  right: 0px;
}
@media (min-width: 576px) {
  section.our-story .year-counter.top-sticky-add {
    left: 50%;
    transform: translateX(-50%);
    right: unset;
  }
}
section.our-story .year-counter.bottom-sticky-add {
  position: absolute;
  bottom: calc(3% + 25px);
  top: unset;
  right: -15px;
}
@media (min-width: 576px) {
  section.our-story .year-counter.bottom-sticky-add {
    bottom: calc(3% + 15px);
    right: unset;
  }
}
@media (min-width: 768px) {
  section.our-story .year-counter.bottom-sticky-add {
    bottom: calc(3% + 35px);
  }
}
@media (min-width: 1200px) {
  section.our-story .year-counter.bottom-sticky-add {
    bottom: calc(4% - -35px);
  }
}
@media (min-width: 1440px) {
  section.our-story .year-counter.bottom-sticky-add {
    bottom: calc(4% - -30px);
  }
}
section.our-story .seperator {
  top: 90px;
  width: 1px;
  background-color: #9F9F9F;
  padding: 0px;
  right: 20px;
  bottom: 130px;
}
@media (min-width: 375px) {
  section.our-story .seperator {
    right: 55px;
  }
}
@media (min-width: 576px) {
  section.our-story .seperator {
    right: 100px;
    bottom: 135px;
  }
}
@media (min-width: 767px) {
  section.our-story .seperator {
    left: 50%;
    transform: translateX(-50%);
    bottom: 133px;
  }
}
@media (min-width: 992px) {
  section.our-story .seperator {
    bottom: 158px;
  }
}
@media (min-width: 1200px) {
  section.our-story .seperator {
    bottom: 165px;
  }
}
section.our-story .left-wrapper .inner-wrapper .content p {
  font-size: 0.8rem;
  line-height: 1.6rem;
}
@media (min-width: 575px) {
  section.our-story .left-wrapper .inner-wrapper .content p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 768px) {
  section.our-story .left-wrapper .inner-wrapper .content p {
    font-size: 0.875rem;
  }
}
@media (min-width: 992px) {
  section.our-story .left-wrapper .inner-wrapper .content p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  section.our-story .left-wrapper .inner-wrapper .content p {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 1440px) {
  section.our-story .left-wrapper .inner-wrapper .content p {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}
section.our-story .left-wrapper .left-circle p:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 13px;
  height: 13px;
  background-color: #9F9F9F;
  border-radius: 50%;
  margin-top: 15px;
  right: 14px;
}
@media (min-width: 375px) {
  section.our-story .left-wrapper .left-circle p:after {
    right: 49px;
  }
}
@media (min-width: 576px) {
  section.our-story .left-wrapper .left-circle p:after {
    right: 94px;
  }
}
@media (min-width: 767px) {
  section.our-story .left-wrapper .left-circle p:after {
    left: 50%;
    transform: translateX(-50%);
  }
}
section.our-story .right-wrapper .title p:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 13px;
  height: 13px;
  background-color: #9F9F9F;
  border-radius: 50%;
  left: -21px;
  margin-top: 11px;
}
@media (min-width: 767px) {
  section.our-story .right-wrapper .title p:after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 767px) {
  section.dedicated-workforce .custom-padding {
    padding: 100px 100px 0 100px;
  }
}
section.integrity-quality .svg-1 {
  max-height: 130px;
  max-width: 130px;
  z-index: 1;
  transition: 0.5s all ease;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  section.integrity-quality .svg-1 {
    max-height: 160px;
    max-width: 160px;
  }
}
section.integrity-quality .svg-1 .cite {
  opacity: 0;
  max-width: 150px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s all ease;
}
section.integrity-quality .svg-1 .cite p {
  font-size: 0.6rem;
}
@media (min-width: 768px) {
  section.integrity-quality .svg-1 .cite p {
    font-size: 0.8rem;
  }
}
section.integrity-quality .svg-1 .svg svg {
  width: 100%;
  height: 100%;
}
section.integrity-quality .svg-1 .svg svg .common-text {
  transform: translateX(5px);
  transform-origin: center center;
  transform-box: fill-box;
  transition: 0.5s all ease;
}
section.integrity-quality .svg-1 .svg svg .common-white {
  transform-origin: center center;
  transform-box: fill-box;
  transition: 0.5s all ease;
}
section.integrity-quality .svg-1 .svg svg .common-white path {
  transition: 0.5s all ease;
}
section.integrity-quality .svg-1 .svg svg text {
  font-family: 'Octopus';
  font-weight: 500;
  font-size: 0.8rem;
}
@media (min-width: 575px) {
  section.integrity-quality .svg-1 .svg svg text {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 768px) {
  section.integrity-quality .svg-1 .svg svg text {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  section.integrity-quality .svg-1 .svg svg text {
    font-size: 1.1rem;
  }
}
@media (min-width: 1440px) {
  section.integrity-quality .svg-1 .svg svg text {
    font-size: 1.125rem;
  }
}
section.integrity-quality .svg-1 .svg svg text tspan {
  fill: #1D1D1D;
}
section.integrity-quality .svg-1 .bg-image {
  transition: 0.5s all ease;
  opacity: 0;
}
section.integrity-quality .svg-1:hover {
  transform: scale(1.2);
}
section.integrity-quality .svg-1:hover .bg-image {
  opacity: 1;
}
section.integrity-quality .svg-1:hover .cite {
  top: 85px;
  opacity: 1;
}
section.integrity-quality .svg-1:hover svg .common-text {
  opacity: 0;
  transform: translate(0px, 30px);
}
section.integrity-quality .svg-1:hover svg .common-white {
  transform: translate(0px, -27px);
}
section.integrity-quality .svg-1:hover svg .common-white path {
  fill: #ffffff;
}
section.integrity-quality .svg-1.svg-2 {
  max-height: 160px;
  max-width: 160px;
}
@media (min-width: 768px) {
  section.integrity-quality .svg-1.svg-2 {
    max-height: 210px;
    max-width: 210px;
  }
}
section.integrity-quality .svg-1.svg-2 .svg svg {
  width: 100%;
  height: 100%;
}
section.integrity-quality .svg-1.svg-2 .svg svg .common-white {
  transform-origin: center center;
  transform-box: fill-box;
  transform: translateX(0px);
}
section.integrity-quality .svg-1.svg-2 .svg svg .common-text {
  transform-origin: center center;
  transform-box: fill-box;
  transition: 0.5s all ease;
}
section.integrity-quality .svg-1.svg-2 .svg svg .common-text text {
  font-size: 1rem;
}
section.integrity-quality .svg-1.svg-2:hover {
  transform: scale(1.1);
}
section.integrity-quality .svg-1.svg-2:hover .svg svg .common-text {
  opacity: 0;
  transform: translate(0px, 30px);
}
section.integrity-quality .svg-1.svg-2:hover .svg svg .common-white {
  transform: translate(0px, -35px) scale(0.8);
}
section.integrity-quality .svg-1.svg-2:hover .svg svg .common-white path {
  stroke: #ffffff;
  fill: transparent;
}
section.integrity-quality .svg-1.svg-2:hover .cite {
  top: 90px;
}
section.company-commitment .title {
  max-width: 400px;
}
section.locations-contact .image {
  max-width: 25px;
}
@media (min-width: 768px) {
  section.locations-contact .address-location .address {
    max-width: 200px;
  }
}
@media (min-width: 992px) {
  section.locations-contact .address-location .address {
    max-width: 330px;
  }
}
.company-career-slider .common-slider .slick-prev {
  top: -55px !important;
  right: 70px !important;
}
@media (min-width: 992px) {
  .company-career-slider .common-slider .slick-prev {
    right: 100px !important;
    top: -58px !important;
    padding: 20px !important;
  }
}
.company-career-slider .common-slider .slick-next {
  top: -55px !important;
}
@media (min-width: 992px) {
  .company-career-slider .common-slider .slick-next {
    top: -58px !important;
    padding: 20px !important;
  }
}
.company-career-slider .image {
  height: 500px;
}
.job-position .inner-position .sub-title {
  max-width: 750px;
}
.job-position .inner-position .job-resizer {
  max-width: 500px;
}
.job-position .inner-position .job-resizer .outer-job-container {
  border: 1px solid #CFCFCF;
}
.job-position .inner-position .job-resizer .outer-job-container .down-arrow {
  right: 10px;
  width: 15px;
}
.job-position .inner-position .job-resizer .outer-job-container .job-position-select {
  opacity: 0.9;
  top: 40px;
}
.job-position .inner-position .job-resizer .outer-job-container .job-position-select .job-position {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.job-position .inner-position .job-resizer .outer-job-container .job-position-select .job-position:last-child {
  border-bottom: initial;
}
.job-position .inner-position .job-resizer .job-description-container .job-email p span {
  font-weight: 500;
}
